#game-area {
    width: 1000px;
    margin: auto;
    background-color: #eee;
    position: relative;
}


#gratulation {
    position: relative;
    top: 10px;
    left: 50%;
}

.phrase {
    position: absolute;
    display: inline;
    margin: 10px 5px;
}